<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.curso_php">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".tema1avaActivity"></activity>
        <activity android:name=".tema10inActivity" />
        <activity android:name="curso_intermedio.activitys.tema9inActivity" />
        <activity android:name="curso_intermedio.activitys.tema8inActivity" />
        <activity android:name="curso_intermedio.activitys.tema7inActivity" />
        <activity android:name="curso_basico.activitys.tema30Activity" />
        <activity android:name="curso_basico.activitys.tema29Activity" />
        <activity android:name="curso_basico.activitys.tema28Activity" />
        <activity android:name="curso_basico.activitys.tema27Activity" />
        <activity android:name="curso_basico.activitys.tema26Activity" />
        <activity android:name="curso_basico.activitys.tema25Activity" />
        <activity android:name="curso_basico.activitys.tema24Activity" />
        <activity android:name="curso_basico.activitys.tema23Activity" />
        <activity android:name="curso_basico.activitys.tema22Activity" />
        <activity android:name="curso_basico.activitys.tema21Activity" />
        <activity android:name="curso_basico.activitys.tema20Activity" />
        <activity android:name="curso_basico.activitys.tema19Activity" />
        <activity android:name="curso_basico.activitys.tema18Activity" />
        <activity android:name="curso_basico.activitys.tema17Activity" />
        <activity android:name="curso_basico.activitys.tema16Activity" />
        <activity android:name="curso_basico.activitys.tema15Activity" />
        <activity android:name="curso_basico.activitys.tema14Activity" />
        <activity android:name="curso_basico.activitys.tema13Activity" />
        <activity android:name="curso_basico.activitys.tema12Activity" />
        <activity android:name="curso_basico.activitys.tema11Activity" />
        <activity android:name="curso_basico.activitys.tema10Activity" />
        <activity android:name="curso_basico.activitys.tema9Activity" />
        <activity android:name="curso_intermedio.activitys.tema6inActivity" />
        <activity android:name="curso_intermedio.activitys.tema5inActivity" />
        <activity android:name="curso_basico.activitys.tema8Activity" />
        <activity android:name="curso_basico.activitys.tema7Activity" />
        <activity android:name="curso_basico.activitys.tema6Activity" />
        <activity android:name="curso_intermedio.activitys.tema4inActivity" />
        <activity android:name="curso_intermedio.activitys.tema3inActivity" />
        <activity android:name="curso_intermedio.activitys.tema2inActivity" />
        <activity android:name="curso_basico.activitys.tema5Activity" />
        <activity android:name="curso_basico.activitys.tema4Activity" />
        <activity android:name="curso_basico.activitys.tema3Activity" />
        <activity android:name="curso_basico.activitys.tema2Activity" />
        <activity android:name="curso_intermedio.activitys.temai_1" />
        <activity android:name="curso_basico.activitys.tema1" />
        <activity android:name=".contenido_avanzado" />
        <activity android:name=".contenido_intermedio" />
        <activity android:name=".contenido_basico" />
        <activity android:name=".acerca_de" />
        <activity android:name=".Curso" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>